@define-color theme_base_color {{base03}};
@define-color theme_bg_color {{base02}};
@define-color theme_text_color {{base06}};
@define-color theme_fg_color @theme_text_color;
@define-color theme_selected_bg_color {{base05}};
@define-color theme_selected_fg_color @theme_bg_color;
@define-color theme_unfocused_selected_bg_color @theme_fg_color;
@define-color theme_unfocused_selected_fg_color @theme_bg_color;


* {
  color: @theme_fg_color;
  background-color: @theme_bg_color;
  font: 13px "{{font}}";
}

*:hover {
  background-color: {{base03}};
}
*:focus {
  background-color: {{base04}}
}

treeview, button, link, panel {
	padding: 0px;
  box-shadow: 0px;
	color: {{base06}};
	background-color: {{base02}};
	border-radius: 0px;
}

cellview {
  color: inherit;
  background-color: inherit;
}

menuitem {
	color: {{base06}};
  background-color: inherit;
}
menuitem * {
	color: @theme_fg_color;
}
menuitem:hover {
  background-color: {{base04}};
}

label {
  background-color: inherit;
}
