Xft.dpi:       		 96
Xft.antialias: 		 true
Xft.hinting:   		 true
Xft.rgba:      		 rgb
Xft.autohint:  		 false
Xft.hintstyle: 		 hintslight
Xft.lcdfilter: 		 lcddefault

XTerm*background:        {{base01}}
XTerm*foreground:        {{base06}}
XTerm*pointerColor:      {{base0C}}
XTerm*faceName:          Fixed
XTerm*faceSize:          11
XTerm*reverseVideo:      on
XTerm*selectToClipboard: true

*background:             {{base01}}
*foreground:             {{base06}}
*fading:                 8
*fadeColor:              {{base00}}
*cursorColor:            {{base0C}}
*pointerColorBackground: {{base02}}
*pointerColorForeground: {{base0C}}

!! black dark/light
*color0:                 {{base00}}
!! border color dwm
*color8:                 {{base04}}

!! red dark/light
*color1:                 {{base08}}
*color9:                 {{base08}}

!! green dark/light
*color2:                 {{base0B}}
*color10:                {{base0B}}

!! yellow dark/light
*color3:                 {{base0A}}
*color11:                {{base0A}}

!! blue dark/light
!! dwm fg statusbar
*color4:                 {{base0D}}
*color12:                {{base0D}}

!! magenta dark/light
*color5:                 {{base0E}}
*color13:                {{base0E}}

!! cyan dark/light
*color6:                 {{base0C}}
*color14:                {{base0C}}

!! white dark/light
*color7:                 {{base05}}
*color15:                {{base07}}

Xcursor.theme: 		 xcursor-breeze
Xcursor.size:            0
